.ra_nav_filterbuttons{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:100px;
    margin:auto;
    margin-top:45px;
    margin-bottom:71px;
    font-family:var(--almarai-family);
    font-size:1.5rem;
    font-weight:var(--normal-weight);
    width:100%;

}
.ra_nav_filterbuttons .filterbutton{
    border: none;
    background: none;
}


@media screen and (max-width:1124px) {

    .ra_nav_filterbuttons{
        font-size:1.25rem;
    }
}


@media screen and (max-width:992px) {

    .ra_nav_filterbuttons {
        width:88.83%;
        flex-wrap:wrap;
    }
}