/* .IB_FormContainer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  flex-direction: row-reverse;
}

.IB_TextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

.IB_TextContainer p {
  display: flex;
  align-items: center;
  margin-top: -10px;
  font-size: 15px;
  font-family: var(--almarai-family);
}

.IB_Image {
  margin-right: 5px;
  margin-left: 5px;
}

.IB_InputContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
}

.IB_Input {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: right;
}

.IB_Button {
  position: absolute;
  height: 100%;
  background-color: var(--green-color);
  color: white;
  border: none;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
} */


.IB_FormContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 -4px 6px 1px rgba(0, 0, 0, 0.116);

}

.IB_TextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.IB_TextContainer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.IB_TextContainer p {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: var(--almarai-family);
}

.IB_Image {
  margin: 0 5px;
}

.IB_InputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.IB_Input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: right;
}

.IB_Button {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: var(--green-color);
  color: white;
  border: none;
  padding: 0 20px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .IB_FormContainer {
    flex-direction: row-reverse;
  }

  .IB_TextContainer {
    margin-bottom: 0;
    margin-left: 20px;
  }

  .IB_InputContainer {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .IB_TextContainer h2 {
    font-size: 20px;
  }

  .IB_TextContainer p {
    font-size: 14px;
  }

  .IB_Input {
    font-size: 14px;
  }

  .IB_Button {
    font-size: 14px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 300px) {
  .IB_TextContainer h2 {
    font-size: 18px;
  }

  .IB_TextContainer p {
    font-size: 12px;
  }

  .IB_Input {
    font-size: 12px;
  }

  .IB_Button {
    font-size: 12px;
    padding: 0 10px;
  }
}