.HJ_contact
{
background-image: url("../../assets/images/contact/top-view-green-leaves\ 2.png");
background-size: 736.97px 907px;
background-position-x: -460px;
background-position-y: 460px;
background-repeat: no-repeat;
}