
   /* ValueItem.css */
.AB_value-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .AB_value-item.reverse {
    flex-direction: row-reverse;
  }
  
  .AB_icon-right {
    order: 1;
    margin-right: 10px;
  }
  
  .AB_icon-left {
    order: 2;
    margin-left: 10px;
  }
  
  .AB_value-item img {
    margin: 0 10px;
  }
  
  .AB_value-item h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .AB_value-item p {
    margin: 0;
    font-size: 14px;
  }
  
  @media (max-width: 1366px) {
    .AB_value-item {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .AB_value-item img {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 768px) {
    .AB_value-item h3 {
      font-size: 16px;
    }
  
    .AB_value-item p {
      font-size: 12px;
    }
  }
  